@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic);

body {
	font: 16px 'Roboto', Arial;
	color: #222;
	font-weight: 300;
	margin-top: 80px;
}

a {
	text-decoration: none;
	color: orange;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #efefef;
	padding: 10px;
}

header h1 {
	font-weight: 300;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#menu_div {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	padding: 10px;
}

#menu_link {
	font-size: 18px;
}

#menu {
	list-style: none;
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
}

#options {
	border: 1px solid #efefef;
	border-radius: 5px;
	margin: 20px;
	list-style: none;
	padding: 0;
}

#options > li {
	border-bottom: 1px solid #efefef;
	margin: 0;
}

#options > li > a {
	display: block;
	background: #fbfbfb url('images/right.png') no-repeat right;
	background-size: 5px 15px;
	background-origin: content-box;
	font-weight: 400;
	padding: 10px;
}

#options > li > a:hover {
	background-color: #efefef;
}

#options > li > a:last-child {
	border-bottom: 0;
}

footer {
	font-size: 13px;
	text-align: center;
}

#player {
	text-align: center;
}

#video-still {
	cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic);

body {
	font: 16px 'Roboto', Arial;
	color: #222;
	font-weight: 300;
	margin-top: 80px;
}

a {
	text-decoration: none;
	color: orange;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #efefef;
	padding: 10px;
}

header h1 {
	font-weight: 300;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#menu_div {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	padding: 10px;
}

#menu_link {
	font-size: 18px;
}

#menu {
	list-style: none;
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
}

#options {
	border: 1px solid #efefef;
	border-radius: 5px;
	margin: 20px;
	list-style: none;
	padding: 0;
}

#options > li {
	border-bottom: 1px solid #efefef;
	margin: 0;
}

#options > li > a {
	display: block;
	background: #fbfbfb url('images/right.png') no-repeat right;
	background-size: 5px 15px;
	background-origin: content-box;
	font-weight: 400;
	padding: 10px;
}

#options > li > a:hover {
	background-color: #efefef;
}

#options > li > a:last-child {
	border-bottom: 0;
}

footer {
	font-size: 13px;
	text-align: center;
}

#player {
	text-align: center;
}

#video-still {
	cursor: pointer;
}

.signup-message {
	background: #fbfbfb;
	border: 1px solid #efefef;
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
	text-align: center;
}

.signup-message h1 {
	font-weight: 400;
	font-size: 26px;
	margin: 0 0 10px;
}

.signup-form {
	margin: 20px 0 5px;
}

.signup-form input {
	width: 90%;
}

.login-link {
	font-size: 13px;
	color: #666;
	font-weight: 400;
}

input[type=text],
input[type=email],
input[type=password] {
	padding: 7px 10px;
	border: 1px solid #efefef;
	border-radius: 5px;
	font: 15px 'Roboto', Arial;
	color: #333;
}

button[type=submit] {
	background: green;
	padding: 7px 10px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	font: 15px 'Roboto', Arial;
	color: #fff;
	margin: 10px 0;
}