@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic);

body {
	font: 16px 'Roboto', Arial;
	color: #222;
	font-weight: 300;
	margin-top: 60px;
	padding: 5px;
	background: #fff;
}

a {
	text-decoration: none;
	color: orange;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #333;
	padding: 10px;
}

header h1 {
	font-weight: 400;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 25px;
	line-height: 30px;
}

header h1 a {
	color: #fff;
}

header #back-button {
	font-size: 20px;
	vertical-align: middle;
	float: left;
	line-height: 30px;
}

#options {
	border: 1px solid #efefef;
	border-radius: 5px;
	list-style: none;
	padding: 0;
	margin: 0;
}

#options > li {
	border-bottom: 1px solid #efefef;
	margin: 0;
}

#options > li > a {
	display: block;
	background: #fbfbfb url('images/right.png') no-repeat right;
	background-size: 5px 15px;
	background-origin: content-box;
	font-weight: 400;
	padding: 10px;
}

#options > li > a:hover,
#options > li > a:active {
	background-color: #efefef;
}

#options > li > a:last-child {
	border-bottom: 0;
}

footer {
	font-size: 13px;
	text-align: center;
	margin-top: 10px;
}

#player {
	text-align: center;
	background: #000;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
}

#video-still {
	cursor: pointer;
	width: 100%;
}

.signup-message,
.login-message {
	background: #fbfbfb;
	border: 1px solid #efefef;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

.signup-message h1,
.login-message h1 {
	font-weight: 400;
	font-size: 26px;
	margin: 0 0 10px;
}

.signup-form {
	margin: 20px 0 5px;
}

.signup-form input {
	width: 90%;
}

.footer-link {
	font-size: 13px;
	color: #666;
	font-weight: 400;
}

input[type=text],
input[type=email],
input[type=password] {
	padding: 7px 10px;
	border: 1px solid #efefef;
	border-radius: 5px;
	font: 15px 'Roboto', Arial;
	color: #333;
}

button[type=submit] {
	background: blue;
	padding: 7px 10px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	font: 15px 'Roboto', Arial;
	color: #fff;
	margin: 10px 0;
	cursor: pointer;
}

#loading {
	display: none;
	text-align: center;
	padding: 25px;
	margin: 20px;
}

#login-form-error-msg {
	color: red;
	font-weight: 400;
	font-size: 13px;
	margin: 5px 0;
	display: none;
}

div.error-message {
	background: #f2dede;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	color: #a94442;
	padding: 15px;
	margin: 20px;
}

#journey {
}

#journey img {
	width: 95px;
}